
// Variables for font family

$primary_font_family 			: 'Crimson Text', serif;
$secondary_font_family 			: 'Poppins', sans-serif;


// Variables line-height 

$body_line_height				: 1.6;	
$body_heading_line_height		: 1.1;  // Refers to h1,h2,h3,h4,h5,h6 


// Variables for font weight

$body_font_weight				: normal;
$body_heading_font_weight		: 600;


// Variables for font sizes

$body_font_size					: 15px; 


// letter spacing 

$body_letter_spacing 			:0.20px;



// Size variations for headings


$typo_extra_large				: 42px;
$typo_large						: 32px;
$typo_big 						: 24px;
$typo_medium					: 18px;
$typo_small						: 16px;






