@media ( max-width: 1100px ) { 
	

	// Remove extra boxed layout container spacing from this breakpoint 
	// No background will be visible beyoung this background

	body.boxed .vb_container {

		padding-left:15px;
		padding-right:15px;
	}
	
}


@media ( max-width: 1024px ) {


	// Header

	.primary_navigation .menu-toggle {
		
		padding:0;
		line-height:30px;
	}

	.primary_navigation.mobile .close-menu {

		display:block;
	}

	.primary_navigation.mobile.dark>ul {

		position: fixed;
        z-index: 999;
        top: 0;
        bottom: 0;
        left: -100%;
        right: auto;
        float: none;
        width: 100%;
        max-width: 350px;
        transform: none;
        transition-duration:1s;
        -moz-transition-duration:1s;
        -ms-transition-duration:1s;
        -webkit-transition-duration:1s;
        -o-transition-duration:1s;
	}

	.primary_navigation.mobile.dark.active>ul {

		left:0;
	}

	.primary_navigation.mobile.dark ul ul {

		position:relative;
	}

	.mastheader .primary_navigation>ul>li>a,
	.mastheader.header_style3 .primary_navigation>ul>li>a, 
	.mastheader.header_style4 .primary_navigation>ul>li>a {

		padding:15px;
		line-height: inherit;
	}

	.header_search form {

		right:auto;
		left:0;
		z-index: 99;
	}

	.mastheader.header_style3 .primary_navigation>ul,
	.mastheader.header_style4 .primary_navigation>ul {

		text-align:left;
	}

	.mastheader.header_style3 .primarynav_search_icon, 
	.mastheader.header_style4 .primarynav_search_icon {

		float:none;
		display: none;
	}

	
	.mastheader.header_style4 .logo h1 {

		font-size: 69px !important;
	}

	.mastheader.header_style3 .main_navigation {

		padding:10px 0;
	}


	// Header light case

	.mastheader.light .primary_navigation>ul>li>a, 
	.mastheader.light .primary_navigation.dark>ul>li>a {

		font-weight:normal;
	} 

	.mastheader.light .primary_navigation.mobile.active>ul {

		border-right: 1px solid $border_color;
	}

	.mastheader.light .primary_navigation.mobile.dark ul {

		background:$white;
	}

	.mastheader.light .primary_navigation.dark ul ul {

		border:none;
	}
	
	.mastheader.light .primary_navigation.mobile>ul>li>a.dd-toggle,
	.mastheader.light .primary_navigation.mobile>ul>li>a.dd-toggle:hover,
	.mastheader.light .primary_navigation.mobile>ul>li>a.dd-toggle:focus,
	.mastheader.light .primary_navigation.mobile>ul>li>a.dd-toggle:active {

		background:transparent;
		border:none;
	}

	.mastheader.light .primary_navigation.mobile li a {

		border-bottom: 1px solid $border_color;
	}



	// Banner 

	.vb_banner_style_4 .post_thumb {

		height: 450px;
	}

	.vb_banner .vb_banner_style_2 .post_thumb {

		height:350px;
	}


	// Featured Section 

	.featured_style_2 .the_permalink a {

		padding: 10px 30px;
	}



	// Footer 

	footer .vb_bottomfooter {

		padding:20px 0;
	}


}


@media ( max-width: 991px ) {
    
	
	// Header

	.mastheader .header_top_entry .col {

		width:60%;
	} 

	.mastheader .header_top_entry .nav_col {

		width:40%;
	}

	.header_style4 .site_idty_wrap {

		padding:150px 0;
	}


	// Banner 

	.vb_banner .vb_banner_style_2 .post_thumb {

		height:400px;
	}

	.vb_banner .vb_banner_style_3 .post_thumb {

		min-height:400px;
	}


	// Recent posts 

	.recent_posts_holder .first_article .post-thumb {

		text-align:center;
	}


	// Instagram ( footer top )

	.vb_instagram .feeds_entry ul li {

		width:33.333333%;
	}

	.vb_instagram .feeds_entry .follow a {

		font-size: 14px;
		padding: 20px 45px;
	}


	// Sidebar ( widgets )

	.vb_cus_cats_widget ul li {

		height:100px;
	}


	// Post page 

	.quote_formate blockquote::before {

		content:'\f10d';
		font-size:72px;

	}


	// Pages 


	.nfpage_entry {

		margin-bottom: 40px;
	}
	
    
}


@media ( max-width: 850px ) {


	// Typography setup for this & below this breakpoint 

	h1 {

		font-size: 32px;
	}

	h2 {

		font-size:27px;
	}

	h3 {

		font-size:23px;
	}

	h4 {

		font-size:21px;
	}

	h5 {

		font-size:19px;
	}

	h6 {

		font-size:17px;
	}


	// Common 


	.section_title h2 {

		font-size:27px;
		text-transform:capitalize;
	} 

	.mid_portion_wrap.frontpage_mid_wrap {

		margin: 40px 0;
	}

	.post_title h2, 
	.post_title h3, 
	.post_title h4 {

		padding-bottom: 20px;
    	margin-bottom: 20px;
	}

	.lined_page_title {

		margin-bottom:30px;
	}

    
	// Header

	.mastheader .logo h1 {

		font-size:42px !important;
	} 

	.mastheader .site_idty_entry {

		padding: 30px 0;
	}

	.mastheader .logo .site-description {

		font-size:11px;
	}

	.mastheader.header_style2 .logo h1 {

		font-size: 34px !important;
	}

	.header_style2 .site_idty_wrap {

		padding:30px 0;
	}

	.mastheader.header_style3 .header_top_entry .col {

		width:40%;
	}

	.mastheader.header_style3 .header_top_entry .nav_col {

		width:60%;
	}

	.header_style4 .site_idty_wrap {

		padding:120px 0;
	}

	.mastheader.header_style4 .logo h1 {

		font-size:52px !important;
	}

	.mastheader.header_style4 .logo .site-description {

		font-size:12px;
	}


	// Banner 

	.vb_banner .post_title h2,
	.vb_banner .vb_banner_style_2 .post_title h2 {

		font-size:27px;
	}

	.vb_banner .vb_banner_style_3 .card_content {

		max-width:600px;
	}

	.vb_banner_style_4 .post_title h2 {

		text-transform:inherit;
	}


	// Recent posts 

	.recent_posts_holder .first_article .post_title h2,
	.recent_posts_holder .first_article .post_title h3 {

		font-size:23px;
	}

	.no_sidebar .bricks_items {

		width:50%;
	}


	// Editorial picks 


	.vb_editorial_picks .post_title h3 {

		text-transform:inherit;
	}


	// Footer 

	.vb_topfooter .social_icons_list li a {

		margin-right: 20px;
	}

	footer .vb_bottomfooter .left_col,
	footer .vb_bottomfooter .right_col {

		width:100%;
	}

	footer .vb_bottomfooter .footer_nav ul {

		text-align:left;
		margin-top:10px;
	}


	// Post pages 

	.postpage_entry .post_title h2 {

		font-size:27px;
	}


	// Pages 

	.errorpage_entry {

		padding:50px 0;
	}


}



@media ( max-width: 800px ) {


	// Featured Section 

	.featured_style_2 .left_col .post_thumb {

		height: 300px;
	}

	.featured_style_2 .right_col .card .post_thumb {

		height: 135px;
	}

	.featured_style_3 .post_title h2 {

		font-size:23px;
	}


	// Recent Post


	.vb_rp_list_style .post_title h3 {

		margin-top: 20px;
	}

	.recent_posts_holder .first_article .extra .row .col:first-child  {

		width:40%;
	}

	.recent_posts_holder .first_article .extra .row .col:last-child  {

		width:60%;
	}

	.vb_rp_list_style .excerpt p {

		overflow: hidden;
    	display: -webkit-box;
    	-webkit-line-clamp: 2;
    	-webkit-box-orient: vertical;
	}

}


@media ( max-width: 768px ) {


  // Common 

  .vb_pagination {

  		margin:30px 0;
  }


  // Banner 

  .vb_banner .vb_banner_style_2 .post_thumb {

  		height: 350px;

  }

  .vb_banner .vb_banner_style_4 .card_content {

  		top:80%;
  }


  // Recent posts


  .no_sidebar .recent_posts_holder .first_article {

  		width:100%;
  		float:none;
  		height:auto;
  } 

  .recent_posts_holder article .excerpt {

		margin-top: 30px;
    	margin-bottom: 30px;
  }

  .recent_posts_holder .first_article .extra .row .col:first-child  {

		width:60%;
  }

  .recent_posts_holder .first_article .extra .row .col:last-child  {

		width:40%;
  }

	
  // Post pages 


  .quote_formate blockquote {

  		padding: 20px 0 20px 50px;
  }

}



@media ( max-width: 767px ) {
    
    // Common


    .vb_container {

    	width:98%;
    }

    .owl-carousel .owl-nav button.owl-prev, 
    .owl-carousel .owl-nav button.owl-next {

		line-height: 30px;
    	width: 30px;
    	height: 30px;
    }

    .owl-carousel .owl-nav button.owl-prev i, 
    .owl-carousel .owl-nav button.owl-next i {

		font-size: 14px;
    	line-height: 30px;
    }


	// Header

	.primary_navigation.mobile.dark>ul {

		max-width:250px;
		overflow-y:auto;
	} 

	.header_style2 .site_idty_wrap .left_col {

		width:100%;
	}

	.header_style2 .site_idty_wrap .right_col {

		display:none;
	} 


	// Banner
	
	.vb_banner .vb_banner_style_3 .card_content {

		padding: 30px 20px;
	}


	.vb_banner .post_title h2, 
	.vb_banner .vb_banner_style_2 .post_title h2 {

		font-size:23px;
	} 


	// Featured 

	.vb_featured .card {

		margin-bottom:30px;
	}

	.vb_featured .row [class^="col-"]:last-child .card {

		margin-bottom:0;
	}

	.featured_style_2 .right_col .card .post_thumb {

		height:300px;
	}

	.featured_style_3 .card_content {

		padding: 30px 0 0 0;
	}

	.featured_style_4 .post_title h2 {

		font-size: 23px;
	}


	// Recent posts 

	.vb_rp_list_style .excerpt p {

		display:none;
	}


	// Footer 

	.vb_midfooter {

		padding-top: 10px;
    	padding-bottom: 30px;
	}


	// Post pages

	.author_box {

		text-align:center;
		padding: 30px 20px;
	}

	.author_box .author_name {

		margin:20px 0;
	}

	.author_box .author_desc p {

		margin-bottom:20px;
	} 

	.video_formate iframe,
	.audio_formate iframe {

		min-height: 80px;
		height:350px;
	}

}


@media ( max-width: 650px ) {


	// Typography setup for this & below this breakpoint 

	h1 {

		font-size: 29px;
	}

	h2 {

		font-size:27px;
	}

	h3 {

		font-size:23px;
	}

	h4 {

		font-size:21px;
	}

	h5 {

		font-size:19px;
	}

	h6 {

		font-size:17px;
	}


	// Common 

	a.btn_general {

		padding: 5px 30px;
		letter-spacing: 0.35px;
	}


	// Header

	.mastheader .header_top_entry .col {

		width:calc( 100% - 110px );
	} 

	.mastheader .header_top_entry .nav_col {

		width:110px;
	}

	.mastheader.header_style3 .secondary_nav ul li {

		margin-right:10px;
	}

	.mastheader .header_top_entry .social_icons_list li a {

		width:20px;
	}


	// Banner 

	.vb_banner .post_title h2, 
	.vb_banner .vb_banner_style_2 .post_title h2 {

		font-size:21px;
	}

	.vb_banner .vb_banner_style_3 .post_thumb {

		min-height:350px;
	}

	.vb_banner .vb_banner_style_3 .card_content {

		max-width: 500px;
	}

	.vb_banner .vb_banner_style_4 .card_content {

		top:85%;
	}


	// Featured section 

	.featured_style_3 .post_title h2 {

		font-size:19px;
	}


	// Recent posts 


	.vb_rp_list_style .post_title h3 {

		font-size:19px;
	}

	.vb_rp_grid_style .card_content {

		padding: 30px 0 0 0;
	}

	.vb_rp_grid_style .card {

		text-align:left;
	}

	.vb_rp_grid_style .post_title h3::after {

		content:'';
		margin:0;
	}


	// Instagram above footer

	.vb_instagram .feeds_entry .follow a {

		padding:10px 30px;
		font-size: 13px;
	}


	// Footer 

	.vb_topfooter .social_icons_list li a {

		font-size:0;
		margin-right: 30px;
	}

	.vb_topfooter .social_icons_list li a i {

		font-size:14px;
	}


	// Pages 

	.errorpage_entry .error_head h2 {

		font-size:92px;
	}

	.errorpage_entry .error_head h3 {

		font-size:19px;
	}

	.error_action a.btn_general {

		padding:7px 30px;
	}

}


@media ( max-width: 550px ) {

	
	// Common


	.post_title h2, 
	.post_title h3, 
	.post_title h4 {

		padding-bottom: 15px;
    	margin-bottom: 20px;
	}

	.mid_portion_wrap.frontpage_mid_wrap {

		margin:0 0 30px 0;
	}


	// Header


	.header_style2 .site_idty_wrap {

		padding:20px 0;
	}

	.mastheader .header_top_entry .social_icons_list {

		display:none;
	}

	.mastheader .header_top_entry .social_icons_list li a {

		width:30px;
	}

	.mastheader.header_style3 .header_top_entry .nav_col,
	.mastheader.header_style3 .header_top_entry .col {

		width:100%;
	}

	.mastheader.header_style3 .site_idty_entry {

		text-align:left;
		padding: 20px 0;
	}


    // Banner


    .vb_banner .post_thumb img {
		
		min-height:300px;
    	object-fit: cover;
    	-o-object-position: center center;
    	object-position: center center;
    } 

    .vb_banner .owl-nav {

    	right:20px;
    	top:10px;
    }

    .vb_banner_style_3 {

    	max-width:98%;
    	padding-left:15px;
    	padding-right: 15px;
    }

    .vb_banner .vb_banner_style_3 .card_content {

    	max-width: 400px;
    	padding: 20px 10px;
    }


    // Featured posts 


    .vb_featured .row [class^="col-"]:last-child .card {

    	margin-bottom:30px;
    }


    // Recent posts


    .recent_posts_holder article .top_box_content,
    .recent_posts_holder article .the_permalink {

    	text-align:left;
    }

    .recent_posts_holder .first_article .post_title h2::after,
    .recent_posts_holder .first_article .post_title h3::after {

		content:'';
		margin:0;
    } 

    .vb_rp_list_style .left_col,
    .vb_rp_list_style .right_col {

    	width:100%;
    }

    .vb_rp_list_style .right_col .post_details {

    	margin-top:30px;
    }

    .recent_posts_holder .vb_rp_list_style .right_col .meta ul {

    	margin-bottom: 0;
    }

    .bricks_items,
    .no_sidebar .bricks_items {

    	width:100%;
    	float:none;
    	text-align:left;
    }

    .card.bricks_items .card_content {

    	padding: 30px 0 0 0;
    }

    .bricks_items .post_title h3::after {

    	content:'';
    	margin:0;
    }

    .recent_posts_holder .first_article .extra {

    	margin-top: 40px;
    }

    .recent_posts_holder .first_article .extra .row .col:first-child {

    	width:40%;
    }

    .recent_posts_holder .first_article .extra .row .col:last-child {

    	width:60%;
    }


    // Footer

	.vb_topfooter .social_icons_list li a {

		margin-right:20px;
	}

    footer.light .vb_bottomfooter .footer_nav ul li a {

    	text-transform:capitalize;
    	font-size:14px;
    }


    // Pagination 


    .vb_pagination .pagi_style2 ul li a {

    	line-height: 30px;
    	height: 30px;
    }

}


@media ( max-width: 500px ) {


	// Typography setup for this & below this breakpoint 

	h1 {

		font-size: 27px;
	}

	h2 {

		font-size:23px;
	}

	h3 {

		font-size:21px;
	}

	h4 {

		font-size:19px;
	}

	h5 {

		font-size:17px;
	}

	h6 {

		font-size:15px;
	}

	// Common 



	// Header 

	.mastheader .site_idty_entry {

		padding:20px 0;
	}

	// Banner 

	.vb_banner .vb_banner_style_2 .post_thumb,
	.vb_banner .post_thumb {

		height:300px;
		min-height:300px;
	}
 
	.vb_banner .vb_banner_style_4 .post_thumb  {

		height:400px;
	}

	.vb_banner .vb_banner_style_3 .the_permalink a.btn_general {

		line-height:1;
		padding:7px 30px;
	}


	// Featured section 

	.featured_style_2 .left_col .post_thumb,
	.featured_style_2 .right_col .card .post_thumb {

		height:250px; 
	}

	.featured_style_4 {

		margin-top: 30px;
	}

	.featured_style_4 .post_title h2 {

		font-size:21px;
	}


	// Editorial picks 

	.vb_editorial_picks {

		padding: 40px 0 30px 0;
	}


	// Pagination 

	.vb_pagination .pagi_style1 ul li a {

		padding: 5px 25px;
	}


	// Post Pages 

	.video_formate iframe, .audio_formate iframe {

		height: 250px;
	}

	.quote_formate blockquote {

		padding: 20px 0 20px 20px;
		font-size: 16px;
	}

	.quote_formate blockquote::before {

		content: '\f10d';
    	font-size: 52px;
	}

}


@media ( max-width: 480px ) {


	// Banner

	.vb_banner .vb_banner_style_3 .card_content {

		padding:10px;
		max-width:350px;
	} 

	.vb_banner .vb_banner_style_3 .the_permalink {

		display:none;
	}
	
}


@media ( max-width:420px ) {

	// Common 

	.card_content {

		padding:0 10px;
	}

	// Banner

	.vb_banner .vb_banner_style_3 .post_thumb {

		min-height:300px;
	}


	.vb_banner .the_permalink {

		display:none;
	}


	// Recent posts 

	.recent_posts_holder .excerpt p {

		overflow: hidden;
    	display: -webkit-box;
    	-webkit-line-clamp: 3;
    	-webkit-box-orient: vertical;
	}


	.recent_posts_holder .first_article .extra .social_sharing {

		text-align:left;
	}

	.recent_posts_holder .first_article .extra {

		padding: 8px 0;
	}

	.recent_posts_holder .social_icons_list li a {

		line-height:1;
		height:1px;
	}

	.recent_posts_holder .first_article .extra .row .col:first-child {

		display:none;
	}

	.recent_posts_holder .first_article .extra .row .col:last-child {

		width:100%;
	}


	// Post pages 

	.post_sharing ul li {

		margin-right:5px;
	}


}

@media ( max-width: 400px ) {


	// Banner 

	.vb_banner .vb_banner_style_3 .card_content {

		max-width:300px;
	}
}


